---
const pageUrl = "https://m.me/acasconsulting"; // đổi thành link thật, ví dụ: https://m.me/LawFirmVN
---

<a href={pageUrl} class="messenger-btn" target="_blank" aria-label="Chat on Messenger">
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/8/83/Facebook_Messenger_4_Logo.svg"
    alt="Messenger"
  />
</a>
