---
const pageUrl = "https://m.me/acasconsulting"; // đổi thành link thật, ví dụ: https://m.me/LawFirmVN
---

<a href={pageUrl} class="messenger-btn" target="_blank" aria-label="Chat on Messenger">
  <img
    src="/img/messager.png"
    alt="Messenger" width="55" height="55"
  />
</a>
