---
import MessengerButton from '../components/MessengerButton.astro';
---
<div class="top-bar">
  <div class="container">
    <div class="top-bar-left">
<span class="contact-phone">
  <i class="fas fa-phone"></i> 
  CALL US: 
  <a href="tel:0935996043">0935.996.043</a>
</span>
<span class="contact-hours">
  <i class="fas fa-clock"></i> 
  OPENING HOURS: Mon - Fri: 9:00 - 18:00
</span>

     
    </div>
    <div class="top-bar-right">
      <a href="https://www.facebook.com/acasconsulting/"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </div>
  </div>
</div>
